.crud {
  text-align: center;
  width: 1300px;
  height: 800px;
  background-color: rgb(31, 11, 11);
  padding: 50px;
  margin: 0 auto;
  color: #000;
  box-shadow: 0 0 30px rgb(168, 19, 19);
  cursor: auto;
  position: relative;
}
