.header {
  position: relative;
  width: 60%;
  height: 120px;
  border-style: groove;
  border-color: rgb(120, 120, 170);
  border-width: 3px;
  background-color: rgb(255, 253, 224);
  border-radius: 15px;
  margin: 0 auto;
  color: black;
}
.header h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 19px;
  margin-top: 20px;
}
.header h5 {
  font-size: 18px;
  font-weight: 700;
  line-height: 19px;
}

.header .imgr {
  width: 150px;
  height: 100px;
  margin-top: -105px;
  position: absolute;
  transform: scaleX(-1);
  left: 0px;
}
.header .what {
  width: 25px;
  height: 25px;
  margin-top: -30px;
  position: absolute;
  transform: scaleX(-1);
  left: 210px;
}
.header .mail {
  width: 25px;
  height: 25px;
  margin-top: -30px;
  position: absolute;
  transform: scaleX(-1);
  left: 170px;
}
.header .call {
  width: 25px;
  height: 25px;
  margin-top: -30px;
  position: absolute;
  transform: scaleX(-1);
  left: 250px;
}
.header .imgl {
  width: 150px;
  height: 100px;
  margin-top: -105px;
  position: absolute;
  right: 0px;
}
